.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.mid{
    display: flex;
    gap: 20px;
    font-size: larger;
}
button{
    background-color: aquamarine;
    padding: 5px;
    font-size: larger;
    border-radius: 25%;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(44, 128, 100);
}
.heading{
    font-size: 25px;
}